---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Caprasimo:400');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  font-family:'Roboto';
  background-color: #121315;  
}

.spotify {
  --s: 300px;   /* the size of the image */
  --b: 10px;     /* the border thickness*/
  --g: 12px;    /* the gap */
  --c: #1DB954; /* the color */
  
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid #0009;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50%;
  
}
.spotify:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.spotifytext {
  opacity: 0;
  color: #00C26D;
  font-family:'Raleway';
  text-align: center;
  font-size: 1.75rem;
  overflow: hidden;
  width: 35rem;
  height:1rem
  
}

@keyframes fadeInSpotify {
    from { heigth: 1; opacity: 0; transform: translate(0px, 0px);}
    to { height: 5rem; opacity: 1; transform: translate(0, 30px);}
}

.spotifywrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.spotifywrapper:hover .spotifytext {
  animation: fadeInSpotify 2s; 
  animation-fill-mode: forwards;
}

.BNFwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BNFwrapper:hover .BNFtext {
  
  animation: fadeInBNF 2s; 
  animation-fill-mode: forwards;
  
}

.gallery {
  --g: 8px; /* the gap */
  width: 500px;
  display: grid;
  clip-path: inset(1px); /* to avoid visual glitchs */
}
.gallery > img {
  --_p: calc(-1*var(--g));
  grid-area: 1/1;
  width: 500px; /* control the size */
  aspect-ratio: 1;
  cursor: pointer;
  transition: .4s .1s;
}
.gallery > img:first-child {
  clip-path: polygon(0 0, calc(100% + var(--_p)) 0 , 0 calc(100% + var(--_p)))
}
.gallery > img:last-child {
  clip-path: polygon(100% 100%, 100% calc(0% - var(--_p)), calc(0% - var(--_p)) 100%)
}
.gallery:hover > img:last-child,
.gallery:hover > img:first-child:hover{
  --_p: calc(50% - var(--g));
}
.gallery:hover > img:first-child,
.gallery:hover > img:first-child:hover + img{
  --_p: calc(-50% - var(--g));
}

.BNFtext {
  opacity: 0;
  color: white;
  font-family:'Raleway';
  text-align: center;
  font-size: 1.75rem;
  overflow: hidden;
  width: 35rem;
  height:1rem
  
}

@keyframes fadeInBNF {
    from { height: 1; opacity: 0; transform: translate(0, 0px);}
    to { height: 8rem; opacity: 1; transform: translate(0, 30px);}
}


.blur{
transition: 1s ease;
filter: grayscale(100%) blur(15px);
width: 300px;
aspect-ratio: 1;
object-fit: cover;
border-radius: 50%;
  
}

.blur:hover {
transition: 1s ease;
filter: grayscale(0%) blur(0px);
filter: gray;
}

.neuralwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.neuralwrapper:hover .neuraltext {
  
  animation: fadeInNeural 2s; 
  animation-fill-mode: forwards;
  
}

.neuraltext {
  opacity: 0;
  color: #0AAFFC;
  font-family:'Raleway';
  text-align: center;
  font-size: 1.75rem;
  overflow: hidden;
  width: 35rem;
  height:1rem
  
}

@keyframes fadeInNeural {
    from { height: 1; opacity: 0; transform: translate(0, 0px);}
    to { height: 10rem; opacity: 1; transform: translate(0, 30px);}
}

.cinematheque {
  width: 300px;
  aspect-ratio: 1;
  --m:
    radial-gradient(circle farthest-side at right,#000 99%,#0000) 
      0 100%/46% 92% no-repeat,
    radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
      100% 0/46% 92% no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale(.5);
  transition: .3s linear;
  cursor: pointer;
}
.cinematheque:hover {
  -webkit-mask-position: 7.5% 50%,92.5% 50%;
          mask-position: 7.5% 50%,92.5% 50%;
  filter: grayscale(0);
}

.cinemathequetext {
  opacity: 0;
  color: white;
  font-family:'Raleway';
  text-align: center;
  font-size: 1.75rem;
  overflow: hidden;
  width: 35rem;
  height:1rem
  
}

@keyframes fadeInCinematheque {
    from { heigth: 1; opacity: 0; transform: translate(0px, 0px);}
    to { height: 13rem; opacity: 1; transform: translate(0, 30px);}
}

.cinemathequewrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cinemathequewrapper:hover .cinemathequetext {
  animation: fadeInCinematheque 2s; 
  animation-fill-mode: forwards;
}

.optitext {
  opacity: 0;
  color: #E22937;
  font-family:'Raleway';
  text-align: center;
  font-size: 1.75rem;
  overflow: hidden;
  width: 35rem;
  height:1rem
  
}

@keyframes fadeInOpti {
    from { heigth: 1; opacity: 0; transform: translate(0px, 0px);}
    to { height: 11rem; opacity: 1; transform: translate(0, 30px);}
}

.optiwrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.optiwrapper:hover .optitext {
  animation: fadeInOpti 2s; 
  animation-fill-mode: forwards;
}

.opti {
  border-radius: 50%;
  width: 300px;
  aspect-ratio: 1;
  transition: transform 1.5s ease-in-out;
}


.opti:hover {
  transform: rotate(180deg);
}

.titletext {
  text-shadow: 0 0 9px rgba(255,255,255,.4), 0 0 5px rgba(255,255,255,.4);
  color: white;
  text-align: center;
  font-size: 1.70rem;
}

.container {
  color: #e5e5e5;
  font-size: 1.70rem;
  text-transform: uppercase;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:100px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:5.62rem;
  margin-bottom: 5.62rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#c10528;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -6.05rem;}
  30% {margin-top: -6.05rem;}
  40% {margin-top: -14.9rem;}
  60% {margin-top: -14.9rem;}
  70% {margin-top: -6.05rem;}
  80% {margin-top: -6.05rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

.profilepic {
  border-radius: 80%;
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  margin: 0 15px;
}

ul li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #5aaa95;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #5aaa95;
}

ul li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #5aaa95;
  text-shadow: 0 0 5px #5aaa95;
}



